@model IEnumerable<ExamenNomina.Models.Empleado>
@using System.Security.Claims
@using System.Threading
@{

    var Rol = "";
    var autenticado = false;

    ClaimsPrincipal principal = Thread.CurrentPrincipal as ClaimsPrincipal;
    if (principal != null && principal.Identity.IsAuthenticated)
    {
        var Claims = principal.Claims.ToList();

        Rol = Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value;

    }
}

@{
    ViewBag.Title = "Index";
}

<h2>Empleados</h2>
@if (Rol.Equals("A"))
{
    <p>
        @Html.ActionLink("Crear Nuevo", "Create", "", new { @class = "btn btn-success" })
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento.NomDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sueldo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomEmpleado)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Departamento.NomDepartamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sueldo)
        </td>
        <td>
            @if (Rol.Equals("A"))
            {
                @Html.ActionLink("Editar", "Edit", new { id = item.IdEmpleado }, new { @class = "btn btn-primary" })
            }
            @Html.ActionLink("Detalles", "Details", new { id = item.IdEmpleado }, new { @class = "btn btn-success" })
            @if (Rol.Equals("A"))
            {
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdEmpleado }, new { @class = "btn btn-danger" })
            }
        </td>
    </tr>
        }

    </table>
