@model ExamenNomina.Models.Nomina

@{
    ViewBag.Title = "Delete";
}



    <h3>¿Desea eliminar este departamento?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    
        <dt>
            @Html.DisplayNameFor(model => model.Dias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SueldoQuincenal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SueldoQuincenal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.NomEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.NomEmpleado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" />
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</div>
    }
</div>
